<!-- <p-messages [(value)]="msgs"></p-messages> -->
<p-toast></p-toast>
<section class="mb-5">
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
      <div id="mdb-lightbox-ui"></div>

      <div class="mdb-lightbox">
        <div class="row product-gallery-2 mx-1">
          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">
              <p-image
                [src]="'assets/product_images/' + image_id + '.jpg'"
                alt="Image"
                width="250"
                [preview]="true"
              >
                <ng-template pTemplate="indicator">
                  <div
                    class="
                      p-image-preview-indicator
                      ng-tns-c116-9 ng-star-inserted
                    "
                  >
                    <i
                      class="
                        p-image-preview-icon
                        pi pi-eye
                        ng-tns-c116-9 ng-star-inserted
                      "
                    ></i
                    >
                  </div>
                </ng-template>
              </p-image>
              <!-- <img
                *ngIf="image_id"
                [src]="'assets/product_images/' + image_id + '.jpg'"
                class="img-fluid z-depth-1"
              /> -->
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 right-div">
      <h5 style="font-weight: bolder"><u>{{ productName }}</u></h5>
      <p class="mb-2 text-uppercase small">{{ category }}</p>
      <p>
        <span class="mr-1"
          ><strong>{{ cost | currency: "INR" }}</strong></span
        >
      </p>
      <hr />
      <p class="pt-1">
        {{ description }}
      </p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Category</strong></th>
              <td>{{ category }}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
              <td>{{ color }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr />
      <div class="button-div" *ngIf="!isAdmin">
        <button
          type="button"
          class="btn btn-primary btn-md mr-1 mb-2"
          (click)="submit()"
        >
          Buy now
        </button>
        <button
          (click)="add()"
          type="button"
          class="btn btn-light btn-md mr-1 mb-2"
        >
          <i class="fas fa-shopping-cart pr-2"></i
          >{{ added ? "Remove from cart" : "Add to cart" }}
        </button>
      </div>
    </div>
  </div>
</section>
<!--Section: Block Content-->
