<div class="options-container">
  <div class="card" (click)="navigate('prediction')">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="java">Forecasting</h2>
        <p class="java">
          Make predictions on the items to be purchased based on previous purchase history.
        </p>
      </div>
    </div>
    <div class="face face2" style="text-align: center;">
      <h2>Item  Prediction</h2>
    </div>
  </div>

  <div class="card" (click)="navigate('inventory')">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="python">Update Inventory</h2>
        <p class="python">
          GUI console to add items, remove items and modify item details.
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>Inventory</h2>
    </div>
  </div>

  <div class="card" (click)="navigate('analyse')">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="cSharp">Plots</h2>
        <p class="cSharp">
          Visualizations to understand the purchase history.
        </p>
      </div>
    </div>
    <div class="face face2">
      <h2>Purchase Analysis</h2>
    </div>
  </div>
</div>
