<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="product-content-right">
        <div class="woocommerce" *ngIf="items && !!items.length; else loggedOut">
          <form method="post" action="#">
            <table
              cellspacing="0"
              class="shop_table cart"
            >
              <thead>
                <tr>
                  <th class="product-remove">&nbsp;</th>
                  <th class="product-thumbnail">&nbsp;</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-subtotal">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr class="cart_item" *ngFor="let item of items">
                  <td class="product-remove">
                    <button
                      title="Remove this item"
                      class="remove"
                      (click)="remove(item.id)"
                    >
                      ×
                    </button>
                  </td>

                  <td class="product-thumbnail">
                    <a href="single-product.html"
                      ><img
                        width="145"
                        height="145"
                        alt="poster_1_up"
                        class="shop_thumbnail"
                        src="{{ 'assets/product_images/' + item.id + '.jpg' }}"
                    /></a>
                  </td>

                  <td class="product-name">
                    <a href="single-product.html">{{ item.productName }}</a>
                  </td>

                  <td class="product-price">
                    <span class="amount">₹{{ item.cost }}</span>
                  </td>

                  <td class="product-quantity">
                    <div class="quantity buttons_added">
                      <input type="button" class="minus" value="-" />
                      <input
                        type="number"
                        size="4"
                        class="input-text qty text"
                        title="Qty"
                        value="1"
                        min="0"
                        disabled
                        step="1"
                      />
                      <input type="button" class="plus" value="+" />
                    </div>
                  </td>

                  <td class="product-subtotal">
                    <span class="amount">₹{{ item.cost }}</span>
                  </td>
                </tr>
                <tr>
                  <td style="border-right: 5px solid transparent"></td>
                  <td style="border-right: 5px solid transparent"></td>
                  <td style="border-right: 5px solid transparent"></td>
                  <td style="border-right: 5px solid transparent"></td>
                  <td class="actions" colspan="6">
                    <input
                      type="submit"
                      value="Checkout"
                      name="proceed"
                      class="checkout-button button alt wc-forward"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </form>

          <div class="cart-collaterals">
            <div class="cross-sells">
              <h2>You may be interested in...</h2>
              <ul class="products">
                <li class="product">
                  <a href="single-product.html">
                    <img
                      width="325"
                      height="325"
                      alt="T_4_front"
                      class="attachment-shop_catalog wp-post-image"
                      src="assets/img/product-2.jpg"
                    />
                    <h3>Nokia Windows</h3>
                    <span class="price"
                      ><span class="amount">₹15,000.00</span></span
                    >
                  </a>
                </li>

                <li class="product">
                  <a href="single-product.html">
                    <img
                      width="325"
                      height="325"
                      alt="T_4_front"
                      class="attachment-shop_catalog wp-post-image"
                      src="assets/img/product-3.jpg"
                    />
                    <h3>Sony Xperia</h3>
                    <span class="price"
                      ><span class="amount">21,000.00</span></span
                    >
                  </a>
                </li>
              </ul>
            </div>

            <div class="cart_totals">
              <h2>Cart Totals</h2>

              <table cellspacing="0">
                <tbody>
                  <tr class="cart-subtotal">
                    <th>Cart Subtotal</th>
                    <td><span class="amount">{{total | currency: 'INR'}}</span></td>
                  </tr>

                  <tr class="shipping">
                    <th>Shipping and Handling</th>
                    <td>Free Shipping</td>
                  </tr>

                  <tr class="order-total">
                    <th>Order Total</th>
                    <td>
                      <strong><span class="amount">{{total | currency: 'INR'}}</span></strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
        <ng-template #loggedOut>
          <section id="cards" class="rdneumorphism section py-5">
            <div class="container">
              <div class="row row-cols-1 g-5 py-5">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="starter-template text-center py-5 px-3">
                        <h1>No Items in Cart</h1>
                        <p class="lead">
                          Hurry Up!!! Explore our exciting items at
                          affordable prices.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </ng-template>
      </div>
    </div>
  </div>
</div>
