<div class="products-main">
  <h1>Our Products</h1>
  <br />
  <br />
  <h2>Mobile Phones</h2>
  <div class="card" *ngIf="products && products.length > 0">
    <p-dataView
      #dv
      [value]="products"
      [paginator]="true"
      [rows]="4"
      filterBy="name"
      layout="list"
    >
      <ng-template let-product pTemplate="listItem">
        <div class="p-col-12">
          <img src="assets/img/product-thumb-2.jpg" />
          <div class="product-list-item">
            <div class="product-list-detail">
              <div class="product-name">{{ product.name }}</div>
              <div class="product-description">{{ product.description }}</div>
              <p-rating
                [ngModel]="product.rating"
                [readonly]="true"
                [cancel]="false"
              ></p-rating>
              <i class="pi pi-tag product-category-icon"></i
              ><span class="product-category">{{ product.category }}</span>
            </div>
            <div class="product-list-action">
              <span class="product-price">${{ product.price }}</span>
              <p-button
                icon="pi pi-shopping-cart"
                label="Add to Cart"
                [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
              ></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
    <br />
    <br />
    <h2>Headphones</h2>
    <br />
    <br />
    <h2>Watches</h2>
    <br />
    <br />
    <h2>Computer Accessories</h2>
    <br />
    <br />
  </div>
</div>
