.sticky-wrapper {
  height: 60px;
}
.mainmenu-area {
  background: none repeat scroll 0 0 #fbfbfb;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  width: 100%;
  z-index: 999;
}

.mainmenu-area ul.navbar-nav li a {
  font-size: 18px;
  padding: 15px 10px;
}

a:active,
a:focus,
a:hover {
  background-color: #428bca !important;
  color: white !important;
}

li {
    margin: 10px;
}

