::ng-deep .p-input-icon-left {
    padding: 100px 100px 100px 600px;
}

::ng-deep body .p-input-icon-left > i:first-of-type {
    padding: 3px;
    left: auto;
    color: #6c757d;
}

::ng-deep .p-orderlist-list-container {
    flex: 1 1 auto;
    padding: 10px !important;
}

::ng-deep body .p-input-icon-left > i:first-of-type {
    padding-left: 7px;
}

::ng-deep .p-datatable {
    position: relative;
    margin: 25px;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
}
::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
}